<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <!--SECTION GLOBAL-->

        <testsuite name="Project">
            <directory suffix="Test.php">./src/Tests</directory>
        </testsuite>
        <testsuite name="ProjectUnit">
            <directory suffix="Test.php">./src/Tests/Unit</directory>
        </testsuite>
        <testsuite name="ProjectUnitModules">
            <directory suffix="Test.php">./src/Tests/Unit/Modules</directory>
        </testsuite>
        <testsuite name="ProjectLaravel">
            <directory suffix="Test.php">./src/Tests/Laravel</directory>
        </testsuite>
        <testsuite name="ProjectLaravelModules">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules</directory>
        </testsuite>

        <!--END-SECTION-->
        <!--SECTION UNIT-->

        <!--Common entities-->
        <testsuite name="ProjectUnitCommonEntities">
            <directory suffix="Test.php">./src/Tests/Unit/Entity</directory>
        </testsuite>
        <!--CQRS-->
        <testsuite name="ProjectUnitCQRS">
            <directory suffix="Test.php">./src/Tests/Unit/CQRS</directory>
        </testsuite>
        <!--Events-->
        <testsuite name="ProjectUnitEvents">
            <directory suffix="Test.php">./src/Tests/Unit/Events</directory>
        </testsuite>
        <!--Modules/Product-->
        <testsuite name="ProjectUnitProduct">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Product</directory>
        </testsuite>
        <!--Modules/Administrators-->
        <testsuite name="ProjectUnitAdmins">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Administrators</directory>
        </testsuite>
        <!--Modules/Cart-->
        <testsuite name="ProjectUnitCart">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Cart</directory>
        </testsuite>

        <!--END-SECTION-->
        <!--SECTION LARAVEL-->

        <!--CQRS-->
        <testsuite name="ProjectLaravelCQRS">
            <directory suffix="Test.php">./src/Tests/Laravel/CQRS</directory>
        </testsuite>
        <!--Modules/Product-->
        <testsuite name="ProjectLaravelProduct">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Product</directory>
        </testsuite>
        <!--Modules/Administrators-->
        <testsuite name="ProjectLaravelAdmins">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Administrator</directory>
        </testsuite>
        <!--Modules/Cart-->
        <testsuite name="ProjectLaravelCart">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Cart</directory>
        </testsuite>

        <!--END-SECTION-->
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
         <env name="DB_CONNECTION" value="sqlite"/>
         <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
