<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <!--Common entities-->
        <testsuite name="ProjectUnitCommonEntities">
            <directory suffix="Test.php">./src/Tests/Unit/Entity</directory>
        </testsuite>
        <!--MessageBuses-->
        <testsuite name="ProjectUnitMessageBuses">
            <directory suffix="Test.php">./src/Tests/Unit/MessageBuses</directory>
        </testsuite>
        <!--Events-->
        <testsuite name="ProjectUnitEvents">
            <directory suffix="Test.php">./src/Tests/Unit/Events</directory>
        </testsuite>
        <!--Services/FileManager-->
        <testsuite name="ProjectUnitFileManager">
            <directory suffix="Test.php">./src/Tests/Unit/Services/FileManager</directory>
        </testsuite>
        <!--Modules/Catalogue/Product-->
        <testsuite name="ProjectUnitProduct">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Product</directory>
        </testsuite>
        <!--Modules/Catalogue/Categories-->
        <testsuite name="ProjectUnitCategories">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Categories</directory>
        </testsuite>
        <!--Modules/Administrators-->
        <testsuite name="ProjectUnitAdmins">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Administrators</directory>
        </testsuite>
        <!--Modules/Shopping/Offers-->
        <testsuite name="ProjectUnitOffers">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Offers</directory>
        </testsuite>
        <!--Modules/Shopping/Cart-->
        <testsuite name="ProjectUnitCart">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Cart</directory>
        </testsuite>
        <!--Modules/Shopping/Order-->
        <testsuite name="ProjectUnitOrder">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Orders</directory>
        </testsuite>
        <!--Modules/Shopping/Discounts/Promocodes-->
        <testsuite name="ProjectUnitPromocodes">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Promocodes</directory>
        </testsuite>
        <!--Modules/Shopping/Discounts/Promotions-->
        <testsuite name="ProjectUnitPromotions">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Promotions</directory>
        </testsuite>
        <!--Modules/Client-->
        <testsuite name="ProjectUnitClient">
            <directory suffix="Test.php">./src/Tests/Unit/Modules/Client</directory>
        </testsuite>

        <!--MessageBusses-->
        <testsuite name="ProjectLaravelMessageBuses">
            <directory suffix="Test.php">./src/Tests/Laravel/MessageBuses</directory>
        </testsuite>
        <!--Services/FileManager-->
        <testsuite name="ProjectLaravelFileManager">
            <directory suffix="Test.php">./src/Tests/Laravel/Services/FileManager</directory>
        </testsuite>
        <!--Modules/Catalogue/Product-->
        <testsuite name="ProjectLaravelProduct">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Product</directory>
        </testsuite>
        <!--Modules/Catalogue/Categories-->
        <testsuite name="ProjectLaravelCategory">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Category</directory>
        </testsuite>
        <!--Modules/Administrators-->
        <testsuite name="ProjectLaravelAdmins">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Administrator</directory>
        </testsuite>
        <!--Modules/Shopping/Cart-->
        <testsuite name="ProjectLaravelCart">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Cart</directory>
        </testsuite>
        <!--Modules/Shopping/Order-->
        <testsuite name="ProjectLaravelOrder">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Orders</directory>
        </testsuite>
        <!--Modules/Shopping/Discounts/Promocodes-->
        <testsuite name="ProjectLaravelPromocodes">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Promocodes</directory>
        </testsuite>
        <!--Modules/Shopping/Discounts/Promotions-->
        <testsuite name="ProjectLaravelPromotions">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Promotions</directory>
        </testsuite>
        <!--Modules/Client-->
        <testsuite name="ProjectLaravelClient">
            <directory suffix="Test.php">./src/Tests/Laravel/Modules/Client</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
